@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Karla', sans-serif;
	background-color: #e5e5e5;
}

.App {
	text-align: center;
}

.header {
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1em;
	max-width: 1050px;
	margin: 0 auto;
}
.header--title {
	display: flex;
	align-items: center;
	gap: 0.3em;
}

.header--title_text {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: -0.1em;
}
.header--subtitle {
	font-family: 'Inter', sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 15px;
}

.main {
	background-color: #fff;
	max-width: 1050px;
	margin: 0 auto;
}

footer {
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	color: #fff;
	padding: 2em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer a {
	text-decoration: none;
	color: rgb(247, 255, 2);
}
