@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Karla', sans-serif;
	background-color: #e5e5e5;
}
img {
	display: block;
	max-width: 450px;
	margin: 0 auto;
}
.App {
	text-align: center;
}

.header {
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1em;
	max-width: 1050px;
	margin: 0 auto;
}
.header--title {
	display: flex;
	align-items: center;
	gap: 0.3em;
}

.header--title_text {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5rem;
	letter-spacing: -0.1em;
}
.header--subtitle {
	font-family: 'Inter', sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 15px;
}

.main {
	background-color: #fff;
	max-width: 1050px;
	margin: 0 auto;
}

.form {
	padding: 1.5em;
	max-width: 600px;
	margin: 0 auto;
}
.form > div {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}
.form--input {
	color: #0d0d0d;
	width: 100%;
	padding: 0.75em;
	border: 1px solid #d5d4d8;
	border-radius: 5px;

	font-family: 'Karla', sans-serif;
}

.form--submit-btn {
	background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
	border-radius: 5px;
	width: 100%;
	padding: 0.75em;
	margin-top: 1em;
	border: none;
	cursor: pointer;

	font-family: 'Karla', sans-serif;
}
.form--submit-btn:hover {
	background: linear-gradient(90.41deg, #8925aa 1.14%, #821ea3 100%);
}

.meme {
	position: relative;
}

.meme--image {
	max-width: 100%;
	border-radius: 3px;
}

.meme--text {
	position: absolute;
	width: 80%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0;
	padding: 0 5px;
	font-family: impact, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
		-2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
		2px 2px 5px #000;
}

.bottom {
	bottom: 0;
}

.top {
	top: 0;
}
footer {
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
	color: #fff;
	padding: 2em;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer a {
	text-decoration: none;
	color: rgb(247, 255, 2);
}
